basePath: /
info:
  contact: {}
  description: Simple service to upload and retrieve PDFs.
  title: PDF Service API
  version: "1.0"
paths:
  /extract/{id}:
    get:
      parameters:
      - description: PDF ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - text/plain
      responses:
        "200":
          description: OK
      summary: Extract text from PDF
      tags:
      - pdf
  /pdf/{id}:
    get:
      description: Returns the raw PDF file
      parameters:
      - description: PDF ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/pdf
      responses:
        "200":
          description: OK
        "404":
          description: Not Found
      summary: Retrieve a PDF
      tags:
      - pdf
  /search:
    get:
      parameters:
      - description: Search query
        in: query
        name: q
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Search PDFs by text
      tags:
      - pdf
  /upload:
    post:
      consumes:
      - multipart/form-data
      description: Upload, store, extract text, and index
      parameters:
      - description: PDF file
        in: formData
        name: file
        required: true
        type: file
      produces:
      - text/plain
      responses:
        "200":
          description: ID of uploaded PDF
          schema:
            type: string
        "400":
          description: Bad request
          schema:
            type: string
      summary: Upload a PDF file
      tags:
      - pdf
swagger: "2.0"
